body {
    font-family: PT sans, arial, sans-serif;
    background-color: #ededed;
}

.header_shadow  {
	position: fixed;
	width: 100%;
	z-index: 100;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0,.2);
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.navbar-toggler {
    padding: 0;
    height: 50px;
    width: 50px;
    position: relative;
}

.burger {
    width: 40px;
    height: 4px;
    background: #ff4d8a;
    font-size: 0;
    position: relative;
    border-radius: 5px;
    top: 21px;
    left: 4px;
}

.burger::before {
    content: "";
    width: 40px;
    height: 4px;
    background: #ff4d8a;
    position: absolute;
    top: -10px;
    border-radius: 5px;
}

.burger::after {
	content: "";
	width: 40px;
	height: 4px;
	background: #ff4d8a;
	position: absolute;
	top: 10px;
	border-radius: 5px;
}

nav a:not(.btn-pink) {
	font-family: Poppins;
	font-size: 15px;
	text-transform: uppercase;
	line-height: 50px;
	color: #ff4d8a;
    transition: transform 200ms ease;
    text-decoration: none;
}

.btn-pink {
	background-color: #e61b72;
	color: white;
    text-transform: uppercase;
    font-size: 11px !important;
    margin-top: 5px;
}

.btn-pink:hover {
	color: white;
    box-shadow: 0 5px 14px 0 rgba(195,52,163,.6);
}

.content-card{
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 10px;
}

#destaque {
    padding: 110px 0 20px;
    margin-bottom: 15px;
}

.card img{
    max-width: auto;
    height: 164px;
}

#teste-scroll {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0.3s, transform 0.6s cubic-bezier(0.5, 0, 0, 1) 0.3s;
}

#footer {
    background: #161616;
    padding: 70px 0;
    color: #fff;
}

#footer a {
    color: #fff;
}

#footer li {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    list-style: none;
    text-align: center;
    color: black;
    line-height: 50px;
}

.items-menu{
    color: #ff4d8a;
    margin-right: 8px;
}

.items-menu:hover{
	text-decoration: none;
    color: #ff4d8a;
	transform: translate(0,-5px);
}

.green-card{
    background-color: #64afbc;
}

.green-card .card-body{
    background: #64afbc;
    color: #fff;
    max-width: 100%;
    height: auto;
}

.pink-card{
    background: #e61b72;
    color: #fff;
    max-width: 100%;
    height: auto;
}

.pink-card .card-img-box{
    background:  #e61b72;
    width: 280px;
    height: 135px;
    overflow: hidden;
}

.pink-card .img-box{
    width: auto;
    background: #e61b72;
}

.green-card .card-img-box{
    background: #64afbc;
    width: 280px;
    height: 135px;
    overflow: hidden;
}

.green-card .img-box{
    width: auto;
    background: #64afbc;
}

.card-body{
    padding: 4px 4px 4px 4px;
    font-size: 12px;
}

